html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

div {
	border: 1px solid Chocolate;
}

/*
.nav-bar {
	background-color: white;
	height: 100%;
}

.nav-bar > .content {
	margin: 0 auto;
}

a:link {
	text-decoration: none;
	color: Gray;
}

a:visited {
	color: Gray;
}

li {
	display: inline;
	list-style: none;
	padding-right: 40px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 30px;
}

ul {
	text-align: right;
	vertical-align: middle;
}

li > img {
	float: left;
	width: 30px;
}
*/

.top-nav {
	background-color: white;
}

.top-nav > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
}

.content > img {
	height: 70px;
}

.links {
	float: right;
	margin-top: 23px;
	text-decoration: none;
}

.links > li {
	display: inline-block;
	margin-left: 20px;
}

.top-nav .links > .active a {
	color: #F15B2A;
    font-weight: 500;
}

a {
	text-decoration: none;
	color: gray;
	transition: color 0.5s ease;
}

a:hover {
	color: #F15B2A;
;
}
